h1 {
    text-align: center;
<<<<<<< HEAD

}

body {
    background-color: rgb(248, 221, 189);
=======
    font-family:'Courier New', Courier, monospace
}

body {
    background-color: rgb(241, 255, 209);
>>>>>>> David
    
}