body{
    background: linear-gradient(120deg, #1cfff4, #3814ff) ;
}

h1 {
    text-align: center;
    font-family:Verdana;
}
img {
    display: block;
    margin: auto; 
}
p {
    text-align: left;
}
div{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    margin-left: 600px;

}
.h1empleado{
    margin-right: 600px;

}
.btn btn-success{
    margin-left: 20px;

}
